<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Json Graphe</title>

</head>

<body>
    <div id="root"></div>
    <div >
    <input type="text" id="tree">
    
    <button class="border-4 bg-current" id="btn">Click</button>
</div>

    <script>
        const obj =
        {
        squadName: "Super hero squad",
        homeTown: "Metro City",
        formed: 2016,
        secretBase: "Super tower",
        active: true,
        members: [
          {
            name: "Molecule Man",
            age: 29,
            secretIdentity: "Dan Jukes",
            powers: ["Radiation resistance", "Turning tiny", "Radiation blast"],
          },
          {
            name: "Molecule Man",
            age: 29,
            secretIdentity: "Dan Jukes",
            powers: ["Radiation resistance", "Turning tiny", "Radiation blast"],
          }
        ],
        secretBase: "Super tower",
        active: true,
      };
        let level = -1;

        const root = document.getElementById("root");
        const printObj = (ob, parent) => {
            level++;
            Object.keys(ob).forEach((e) => {
                const div = document.createElement("div");
                const child = document.createElement("input");
                child.setAttribute("style", `margin-left: ${level * 20}px`);
                child.setAttribute("disabled", "");
                child.value = typeof ob[e] === "object" ? e : ob[e];
                div.appendChild(child);
                parent.appendChild(div);
                if (typeof ob[e] === ("object" || "array")) printObj(ob[e], div);
            });
        };
        printObj(obj, root);
    </script>
</body>
</html>