<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>json to graph</title>
  </head>

  <body class="bg-black h-screen w-screen">
    <div id="root"></div>
    <div class="text-white">
      <div class="flex justify-between bg-slate-50 bg-opacity-10">
        <img
          class="w-14 h-14 m-2 ml-4"
          src="../src/images/shape-red-header-x2.png"
          alt="simplon logo"
        />
        <div class="dropdown_list p-2">
          <button
            class="flex dropdown_button gap-2 bg-white text-black m-2 mr-6 p-3 rounded-lg"
            onclick="dropMenu()"
          >
            <img class="w-4 h-4 mt-1" src="/src/images/settings.png" alt="" />
            <p class="font-bold">Settings</p>
          </button>
          <div
            id="courses_id"
            class="courses list-none shadow-lg shadow-black bg-white text-black absolute z-10 -mt-2 rounded-md -ml-2 pt-1 pb-2 p-7"
          >
            <div class="flex gap-2 pb-2 hover:bg-green-200 rounded-md p-2">
              <img class="w-6 h-6" src="/src/images/user.png" alt="user icon" />
              <li class="mb-1">
                <a href="">Profile</a>
              </li>
            </div>
            <div class="flex gap-2 pb-2 hover:bg-red-200 rounded-md p-2">
              <img
                class="w-6 h-6"
                src="/src/images/logout.png"
                alt="logout icon"
              />
              <a href="./">
                <li class="">Logout</li>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white m-10 rounded-lg h-72 border-t-gray-200 border-8">
        <!-- <div class="flex justify-end gap-3 bg-black">
               <textarea class="flex w-full text-black " placeholder="enter " name="" id="tree" cols="30" rows="10"></textarea>
            </div> -->
        <!-- button upload json -->

        <br /><br />
        <button
          class="border-2 bg-white-color-black rounded w-40 h-10"
          id="btn"
        >
          Click
        </button>
      </div>
      <div id="tree" class="flex justify-end gap-3 bg-slate-500"></div>
    </div>
    <!-- <div class="flex justify-end gap-3 bg-black">
      <input
        type="file"
        id="file"
        name="file"
        class="flex w-full text-black"
        placeholder="Upload "
        name=""
        id="tree"
        cols="30"
        rows="10"
      />
    </div> -->
    <div class="flex justify-center items-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
      >
        <div class="flex flex-col justify-center items-center pt-5 pb-6">
          <svg
            aria-hidden="true"
            class="mb-3 w-10 h-10 text-gray-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
            ></path>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span>
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            SVG
          </p>
        </div>
        <input id="file" type="file" class="" />
      </label>
    </div>
    <!-- div for show the json as a tree -->
    <div id="dispalytree" class="flex justify-end gap-3 bg-slate-500"></div>

    <script>
      const uploadBtn = document.getElementById("file");
      // get the json file

      uploadBtn.addEventListener("change", (e) => {
        alert("file uploaded");
        const file = e.target.files[0];
        const reader = new FileReader();
        reader.readAsText(file);
        reader.onload = function () {
          const data = JSON.parse(reader.result);
          console.log(data);
        //   printObj(JJSON.stringify(data));
        };
      });
        
      let level = -1;

  const root = document.getElementById("root");
//   const printObj = (ob, root) => {
//     console.log(ob);
//       level++;
//       Object.keys(ob).forEach((e) => {
//           const div = document.createElement("div");
//           const child = document.createElement("input");
//           child.setAttribute("style", margin-left: ${level * 20}px);
//           child.setAttribute("disabled", "");
//           child.value = typeof ob[e] === "object" ? e : ob[e];
//           div.appendChild(child);
//           parent.appendChild(div);
//           if (typeof ob[e] === ("object" || "array")) printObj(ob[e], div);
//       });
//   };
//   printObj(obj, root);


      // function to display the json file show in div
      function displayJson(data) {
        // add the json file in the div dispalytree
       
        const json = JSON.stringify(data, undefined, 4);
        // forEach to display the json file
        // data.forEach((element) => {
        //   console.log(element);
        //   const child = document.createElement("div");
        //   child.innerHTML = json;
        //   parent.appendChild(child);
        // });
      }

      function dropMenu() {
        var courses = document.getElementById("courses_id");

        if (courses.style.display == "block") {
          courses.style.display = "none";
        } else {
          courses.style.display = "block";
        }
      }
      window.onclick = function (event) {
        if (!event.target.matches(".dropdown_button")) {
          document.getElementById("courses_id").style.display = "none";
        }
      };
    </script>
    <script>
      //   const obj =
      //   {
      //   squadName: "Super hero squad",
      //   homeTown: "Metro City",
      //   formed: 2016,
      //   secretBase: "Super tower",
      //   active: true,
      //   members: [
      //     {
      //       name: "Molecule Man",
      //       age: 29,
      //       secretIdentity: "Dan Jukes",
      //       powers: ["Radiation resistance", "Turning tiny", "Radiation blast"],
      //     },
      //     {
      //       name: "Molecule Man",
      //       age: 29,
      //       secretIdentity: "Dan Jukes",
      //       powers: ["Radiation resistance", "Turning tiny", "Radiation blast"],
      //     }
      //   ],
      //   secretBase: "Super tower",
      //   active: true,
      // };
      // let level = -1;

      // const root = document.getElementById("root");
      // const printObj = (ob, parent) => {
      //     level++;
      //     Object.keys(ob).forEach((e) => {
      //         const div = document.createElement("div");
      //         const child = document.createElement("input");
      //         child.setAttribute("style", `margin-left: ${level * 20}px`);
      //         child.setAttribute("disabled", "");
      //         child.value = typeof ob[e] === "object" ? e : ob[e];
      //         div.appendChild(child);
      //         parent.appendChild(div);
      //         if (typeof ob[e] === ("object" || "array")) printObj(ob[e], div);
      //     });
      // };
      // printObj(obj, root);
    </script>
    <script>
      btn.addEventListener("click",const printObj = (ob, parent) => {
          level++;
          Object.keys(ob).forEach((e) => {
              const div = document.createElement("div");
              const child = document.createElement("input");
              child.setAttribute("style", `margin-left: ${level * 20}px`);
              child.setAttribute("disabled", "");
              child.value = typeof ob[e] === "object" ? e : ob[e];
              div.appendChild(child);
              parent.appendChild(div);
              if (typeof ob[e] === ("object" || "array")) printObj(ob[e], div);
          });
      };
        printObj(obj, root);
      )
    </script>
  </body>
</html>
