<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treer 3d</title>
</head>
<body>
    
    <script>
        var svg=d3.select("body").append("svg").attr("width",600).attr("height",600)
        .append("g").attr("transform","translate(50,50)");
        var data=[{"child":"john","parent":"parent"},
                 {"child":"aaron","parent":"parent"},
                 {"child":"kevin","parent":"parent"},
                 {"child":"john","parent":"parent"},
                 {"child":"john","parent":"parent"},
                 {"child":"ann","parent":"parent"},
                 {"child":"sarah","parent":"parent"},
                 {"child":"john","parent":"parent"},
    ]                    
    </script>
</body>
</html>